{% extends "base.html" %}
{% load custom_admin_tags %}
{% block menu %}
    {% menu site %}
{% endblock %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            编辑
        </div>
        <div>
            <div class="king-wrapper">
                <form class="form-horizontal" method="post">
                    <br>
                    {% csrf_token %}
                    {{ form_obj.non_field_errors }}
                    {% for field in form_obj %}
                        <div class="form-group">
                        {% if field.field.required %}
                            <label class=" col-md-2 col-sm-1 control-label" style="font-weight: 100">
                                <span style="color: red">*</span>{{ field.label }}: </label>
                            {% else %}
                            <label class=" col-md-2 col-sm-1 control-label" style="font-weight: 100">{{ field.label }}: </label>

                            {% endif %}
                            <div class="col-md-7">
                                {{ field }}
                            </div>
                            <br/>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
{% endblock %}